<div class="pagination">
    <span class="step-links">
        {% if answer.has_previous %}
            <a href="?query={{ query }}&?page=1">&laquo; first</a>
            <a href="?query={{ query }}&?page={{ answer.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ answer.number }} of {{ answer.paginator.num_pages }}.
        </span>

        {% if answer.has_next %}
            <a href="?query={{ query }}&?page={{ answer.next_page_number }}">next</a>
            <a href="?query={{ query }}&?page={{ answer.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
