
{% extends 'foodSearch/base.html' %}
{% load static %}

{% block content %}

{% include 'foodSearch/headerpages.html' with title=title %}

<section style="background-color:#de9440;" class="page-section text-white mb-5" id="services">
  <div class="container">
      <h2 class="text-center mt-0">Veuillez sélectionner le produit recherché :</h2>
      <hr class="divider my-4">
      {% if found_products|length_is:"0" %}
      <div class="text-center">
        Palsambleu ! Nous n'avons trouvé aucun résultat à cette requête. Même pas de quoi se ronger la chique !
        Partez de nouveau à l'abordage !
      </div>
    {% else %}
      <div class="row">
        {% for product in found_products %}
          <div class="col-md-4 text-center mt-5">
              <a href="/results/{{ product.id }}/">
                <div class="img_prod" style="background-color: #e8a75d">
                  <img
                    class="image-color-theme img-responsive" src="{{ product.image_small_url }}"
                    height="200rem" width="100rem"/>
                </div>
                <h3 class="h4 mb-2 text-white">{{ product.name }}</h3>
              </a>
              <a href="/detail/{{ product.id }}/">En savoir plus sur ce produit</a><br>
              <a href="/results/{{ product.id }}/" class="text-white">Chercher un substitut</a>

              {% if product.nutrition_grade_fr == 'a' %}
                <span style="background-color: #5bac09;" class="grade">{{ product.nutrition_grade_fr }}</span>
              {% endif %}
              {% if product.nutrition_grade_fr == 'b' %}
                <span style="background-color: #0977ac;" class="grade">{{ product.nutrition_grade_fr }}</span>
              {% endif %}
              {% if product.nutrition_grade_fr == 'c' %}
                <span style="background-color: #f7e80b;" class="grade">{{ product.nutrition_grade_fr }}</span>
              {% endif %}
              {% if product.nutrition_grade_fr == 'd' %}
                <span style="background-color: #f7a60b;" class="grade">{{ product.nutrition_grade_fr }}</span>
              {% endif %}
              {% if product.nutrition_grade_fr == 'e' %}
                <span style="background-color: #f00000;" class="grade">{{ product.nutrition_grade_fr }}</span>
              {% endif %}
          </div>
          {% if forloop.counter|divisibleby:3 %}<div class="clearfix"></div>{% endif %}
      {% endfor %}
      </div>
    {% endif %}
  </div>
</section>


{% endblock %}
