
{% load static %}


<div id="modalLogIn" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Se connecter</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="md-form mb-5">
          <form method="post" action="{% url 'foodSearch:login_request' %}">
            {% csrf_token %}
            <div class="md-form mb-3">
              <label data-error="wrong" data-success="right" for="defaultForm-text">Nom d'utilisateur</label>
              <input id="mail" type="text" id="defaultForm-email" class="form-control validate" value="{{ form.username }}">
            </div>
            <div class="md-form mb-3">
              <i class="fas fa-lock prefix grey-text"></i>
              <label data-error="wrong" data-success="right" for="defaultForm-pass">Mot de passe</label>
              <input type="password" id="defaultForm-pass" class="form-control validate" value="{{ form.password }}">
            </div>
            <div class="md-form mb-3 text-center">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer d-flex">
        <p>
          Vous n'avez toujours pas de compte Pur Beurre? Pas de panique, créez-en un :
        </p>
        <a class="btn btn-secondary" href="{% url 'foodSearch:register' %}" class="btn">Créer un compte</a>
      </div>
    </div>
  </div>
</div>
